html {
   scroll-behavior: smooth;
}
.bgImg {
    background: url("../images/kenmarebay.jpg") no-repeat fixed;
    height: 100vh;
    background-position: center center;
    background-size:cover; 
}

.jumbotron {
    position: relative;
    background: transparent;
    height: 100vh;
    overflow: hidden;
}

.jumbotron .display-4 {
    position: relative;
    top: 30%;
    text-align: center;
}
.jumbotron .display-4{
    color: white;
    opacity: 1;
}
.navbar {
    background: rgb(14, 107, 7);
    color: white;
    font-size: 20px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: yellow;
}

.navbar-light .navbar-toggler {
    background: white;
}

.navbar-light .navbar-toggler:hover{
    background: yellow;
}

.navbar-light .navbar-nav .nav-link {
    color: white; 
}

.navbar-light .navbar-nav .active>.nav-link {
    color: white;
}

.navbar-light .navbar-nav .active>.nav-link:hover{
    color: yellow;
}