

html {
   scroll-behavior: smooth;
}

p {
    font-size: 20px;
}
/*---------------------Home Page-----------------*/
.bgImg {
    background: url("../images/kenmarebay.jpg") no-repeat fixed;
    height: 100vh;
    background-position: center center;
    background-size:cover; 
}

.jumbotron {
    position: relative;
    background: transparent;
    height: 100vh;
    overflow: hidden;
    margin-bottom: 2rem;
    border-radius: .3rem;
}

.jumbotron .display-4 {
    position: relative;
    top: 10%;
    text-align: center;
    color: white;
    opacity: 1;
}

/*-----------------NavBar---------------------*/
.navbar {
    background: rgb(14, 107, 7);
    color: white;
    font-size: 20px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: yellow;
}

.navbar-light .navbar-toggler {
    background: white;
}

.navbar-light .navbar-toggler:hover{
    background: yellow;
}

.navbar-light .navbar-nav .nav-link {
    color: white; 
}

.navbar-light .navbar-nav .active>.nav-link {
    color: white;
}

.navbar-light .navbar-nav .active>.nav-link:hover{
    color: yellow;
}

/*---------------About Us -------------------------------------*/
 .about {
     background-color: #c7daa1;
 }

.row {
  display: flex;
}

.about_image {
  flex: 100%;
  padding-bottom: 16px;
}

@media screen and (max-width: 500px) {
  .about_image {
    width: 100%;
  }
}
/*----------------Fishing Spots with Google Map ----------------*/
.container fishing_map{
    padding: 2%;
    text-align: center;
}

.fishing_class {
    background-color: #c7daa1;
}

.h2, h2 {
    font-size: 2rem;
    text-align: center;
}

#map-wrapper_div {
    height: 400px;
}

#map {
    width: 100%;
    height: 100%;
    min-height: 360px;
}
/*--------------Back to top button------------*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}
